# https://editorconfig.org/

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[{*.json,*.md,*.mdx,*.html,*.css,*.yml,*.js,*.jsx,*.ts,*.tsx}]
max_line_length = 100

[Makefile]
indent_style = tab
